html, body {
  margin: 0;
  padding: 0;
  /* min-height 101vh позволяет скролл, что триггерит скрытие адресной строки */
  min-height: 101vh;
  overscroll-behavior: none;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

.game-viewport {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Идеальное центрирование на экране */

  /* Задаем фиксированные пропорции 16:9 */
  width: 100vw;
  height: 100dvh;

  /* Ограничиваем, чтобы игра не вылезала за границы экрана по высоте */
  max-height: 100dvh;
  /* max-width: 177.78vh; 100 * 16 / 9 */

  /* overflow: hidden; */
  background-color: #000; /* Черные полосы по бокам, если экран другой формы */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.game {
  position: relative;
  width: 100vw;
  height: 100dvh;
}
