.game-map {
  z-index: 1;

  /* ИЗМЕНЕНО: Зацикливаем строго по горизонтали (ось X) */
  background-repeat: repeat-x;

  /* ИЗМЕНЕНО: Картинка подстраивается по высоте (100%), а ширина вычисляется */
  /* автоматически (auto), сохраняя пропорции и убирая пустые швы */
  background-size: auto 100%;

  /* ИЗМЕНЕНО: Центрируем картинку, чтобы верхний и нижний газон не обрезались криво */
  background-position: center center;

  width: 100vw;
  height: 100vh;
  min-height: 500px;

  position: absolute;
  top: 0;
  left: 0;
}
/* Стили для линии разметки */
.road-line {
  position: absolute;
  top: 53%;
  left: 0;
  width: 100%; /* Оставляем 100%, чтобы блок был на всю дорогу */
  height: 10px;
  transform: translateY(-50%);
  background-repeat: repeat-x;

  /* ИЗМЕНЕНО: Задаем фиксированный шаг для разметки */
  /* 60px — это общая длина ОДНОГО цикла (штрих + пустота). Подберите это число под себя! */
  /* 100% по высоте оставляет толщину линии корректной */
  /* background-size: 60px 100%; */

  z-index: 2;
}

/* Стили для объектов окружения */
.game-object {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  margin-right: 0 300px;
}
